@model IEnumerable<ExpressVoitures.Models.Car>

@{
    ViewData["Title"] = "Catalogue des voitures";
}

<h1>Catalogue des voitures</h1>

<div class="container">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 align-items-stretch">
                <div class="card card-custom">
                    @if (!car.IsAvailable && car.SaleDate.HasValue)
                    {
                        <div class="badge badge-sold">Vendu</div>
                    }
                    else if (!car.IsAvailable && !car.SaleDate.HasValue)
                    {
                        <div class="badge badge-unavailable">Non disponible</div>
                    }

                    <div class="card-body">
                        <h5 class="card-title">@car.Make?.Name</h5>
                        <p class="bg-none no-padding">@car.SalePrice?.ToString("N2") €</p>
                    </div>
                    <div class="image-container">
                        <img src="@Url.Content(car.PhotoPath)" class="card-img-top" alt="@car.Model?.Name">
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-around">
                        <div class="icon-text">
                            <div class="icon-circle">
                                <i class="fas fa-road"></i>
                            </div>
                            <div class="text">@car.Model?.Name</div>
                        </div>
                        <div class="icon-text">
                            <div class="icon-circle">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="text">@car.Trim</div>
                        </div>
                        <div class="icon-text">
                            <div class="icon-circle">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="text">@car.Year</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




