@model IEnumerable<ExpressVoitures.Models.Car>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Voitures Disponibles</h1>

<div class="container">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card card-custom">
                    @if (!car.IsAvailable)
                    {
                        <div class="badge badge-sold">Vendu</div>
                    }
                    <img src="@car.PhotoPath" class="card-img-top" alt="@car.Model.Name">
                    <div class="card-body">
                        <h5 class="card-title">@car.Make.Name @car.Model.Name (@car.Year)</h5>
                        <p class="card-text"><strong>Finition:</strong> @car.Trim</p>
                       @*  <p class="card-text"><strong>Réparations:</strong> @car.Description</p>
                        <p class="card-text"><strong>Coûts des réparations:</strong> €@car.RepairCost</p> *@
                        @* <p class="card-text"><strong>Disponible à partir de:</strong> @car.AvailabilityDate.ToShortDateString()</p> *@
                        <p class="card-text"><strong>Prix de vente:</strong> €@car.CalculatedSalePrice</p>
                        @* <p class="card-text"><strong>Status:</strong> @(car.SaleDate.HasValue ? "Vendu" : "Disponible")</p> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .badge-sold {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
    }

    .card-custom {
        border-radius: 10px;
    }
</style>
