@model ExpressVoitures.Models.Repair

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @{
                var carName = Model.Car != null ? Model.Car.VIN : "No Car";
            }
            @carName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RepairId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
